<div class="container">
  <div class="frases">
    <h1>Pesquise, compare e economize mais</h1>
  </div>

  <div class="container-buscas">
    <div class="buscar-endereco">
      <label for="pesquisar-carro">Comece por aqui</label>
      <input type="text" id="pesquisar-carro" />
    </div>

    <div class="info-aluguel">
      <div class="inicio-aluguel">
        <label for="data-inicio">Início do aluguel</label>
        <input type="date" id="data-inicio" />
        <label for="horario-inicio">Horário</label>
        <input type="time" id="horario-inicio" />
        <!-- <input type=""> -->
      </div>

      <div class="termino-aluguel">
        <label for="data-termino">Término do aluguel</label>
        <input type="date" id="data-termino" />
        <label for="horario-termino">Horário</label>
        <input type="time" id="horario-termino" />
      </div>
    </div>
  </div>
  <div class="buscar">
    <label for="conf-idade">Confirme sua idade</label>
    <input type="number" min="1" max="100" id="conf-idade" />

    <button type="submit" id="btn-buscar">Buscar</button>
  </div>
</div>

