<app-header></app-header>
<div class="container">
  <div class="decoracao"></div>

  <div class="apresentacao">
    <div class="vamos-nessa">
      <img
        src="assets/image/apresentando.png"
        alt="Imagem apresentação EcoSons"
      />
    </div>

    <div class="sobre-nos">
      <img src="assets/image/eco-sons.png" alt="Icone EcoSons" />
    </div>

    <div class="informacoes">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore natus
        nam labore officia vel doloremque eum fugit quae. Dolore ea minus
        reiciendis voluptate, iste eligendi incidunt distinctio nulla suscipit
        fugit.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
