<div class="container">
  <div class="container-formulario">
<form [formGroup]="formCliente" (ngSubmit)="onSubmit()" class="formulario">
  <label class="labels" for="nome">Seu nome</label>
  <input class="inputs" type="text" formControlName="nome" id="nome" required>
  <label class="labels" for="email">Seu email</label>
  <input class="inputs" type="email" formControlName="email" id="email" required>
  <label class="labels" for="senha">Sua senha</label>
  <input class="inputs" type="password" formControlName="senha" id="senha" required>
<button type="submit" id="btn-cadastro">Cadastrar</button>
</form>
  </div>
</div>
  