<div class="container">
  <div class="container-formulario">
<form action="" class="formulario">
  <label class="labels" for="nome">Seu nome</label>
  <input class="inputs" type="text" name="nome" id="nome" required>
  <label class="labels" for="email">Seu email</label>
  <input class="inputs" type="email" name="email" id="email" required>
  <label class="labels" for="senha">Sua senha</label>
  <input class="inputs" type="password" name="senha" id="senha">
<button type="submit" id="btn-cadastro">Cadastrar</button>
</form>
  </div>
</div>
