<div class="container">

  <div class="container-formulario">
    <form [formGroup]="formCliente" (ngSubmit)="onSubmit()" class="formulario">
      <label class="labels" for="email">Seu email</label>
      <input class="inputs" formControlName="email" type="email" id="email" required>
      <label class="labels" for="senha">Sua senha</label>
      <input class="inputs" formControlName="senha" type="password" id="senha" required>
<button type="submit" id="btn-login">Entrar</button>
    </form>
  </div>
</div>
