<app-header-usuario></app-header-usuario>
<div class="container">
  <div class="container-carros">
    <div class="carro" *ngFor="let carro of carros">
      <div class="img-carro">
        <img src="assets/image/porsche.png" alt="Imagem carro" />
      </div>

      <ul class="informacoes">
        <li>{{ carro.tipo_carro }}</li>
        <li>{{ carro.modelo_carro }}</li>
        <li>{{carro.placa_carro}}</li>
        <li>{{carro.ano_carro}}</li>
        <li>{{carro.disponibilidade_carro}}</li>
      </ul>
      
      <div class="acoes">
              <button type="button" (click)="alugarCarro(carro.id_carro)">Alugar</button>
            </div>


    </div>
  </div>
</div>
