<div class="container">
  <div class="carros">
    <div class="locacoes">
      <img src="../../../assets/image/carro.png" alt="">
      <p>blablablalblalbalbblalbalblab</p>
    </div>
  </div>

  <div class="carros">
    <div class="locacoes">
      <img src="../../../assets/image/carro.png" alt="">
      <p>blablablalblalbalbblalbalblab</p>
    </div>
  </div>

  <div class="carros">
    <div class="locacoes">
      <img src="../../../assets/image/carro.png" alt="">
      <p>blablablalblalbalbblalbalblab</p>
    </div>
  </div>

  <div class="carros">
    <div class="locacoes">
      <img src="../../../assets/image/carro.png" alt="">
      <p>blablablalblalbalbblalbalblab</p>
    </div>
  </div>

  <div class="carros">
    <div class="locacoes">
      <img src="../../../assets/image/carro.png" alt="">
      <p>blablablalblalbalbblalbalblab</p>
    </div>
  </div>

  <div class="carros">
    <div class="locacoes">
      <img src="../../../assets/image/carro.png" alt="">
      <p>blablablalblalbalbblalbalblab</p>
    </div>
  </div>

  <div class="carros">
    <div class="locacoes">
      <img src="../../../assets/image/carro.png" alt="">
      <p>blablablalblalbalbblalbalblab</p>
    </div>
  </div>

  <div class="carros">
    <div class="locacoes">
      <img src="../../../assets/image/carro.png" alt="">
      <p>blablablalblalbalbblalbalblab</p>
    </div>
  </div>

  <div class="carros">
    <div class="locacoes">
      <img src="../../../assets/image/carro.png" alt="">
      <p>blablablalblalbalbblalbalblab</p>
    </div>
  </div>
</div>
