<div class="container">

  <div class="container-meus-podcasts">

<div class="carrossel">
  <!-- <app-carrossel></app-carrossel> -->
</div>

<div class="conteudo">

  <div class="barra-lateral">
    <ul class="filtros">
      <li><a href="#">Favoritos</a></li>
      <li><a href="#">Curtidos</a></li>
      <li><a href="#">Recomendados</a></li>
    </ul>
  </div>

  <div class="podcasts">
    <div class="reproducoes">
      <section>


        <div class="controles-reproducoes">
          <button type="button">◁</button>
          <button type="button">┃┃</button>
          <button type="button">▷</button>
        </div>

        <div class="barra-progresso">
          <progress value="1" max="100"></progress>
        </div>
        <!-- testendo commit -->
      </section>
    </div>
  </div>
</div>
  </div>
</div>
