<div class="container">
  <form [formGroup]="formCliente" (ngSubmit)="onSubmit()">
    <div class="conatainer-formulario">
      <label for="nome">Nome</label>
      <input type="text" formControlName="nome" id="nome" />
      <label for="sobrenome">Sobrenome</label>
      <input type="text" formControlName="sobrenome" id="sobrenome">
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email" />
      <label for="cep">CEP</label>
      <input type="text" formControlName="cep" id="cep" />
      <label for="telefone">Telefone</label>
      <input type="tel" formControlName="telefone" id="telefone" />
      <label for="estado">Seu Estado</label>
      <input type="text" formControlName="estado" id="estado">
      <label for="cidade">Cidade</label>
      <input type="text" formControlName="cidade" id="cidade">
      <label for="senha">Senha</label>
      <input type="password" formControlName="senha" id="senha" />
      <button type="submit" id="btn-cadastrar">Cadastrar</button>
    </div>
  </form>
</div>
