<div class="container">
  <form [formGroup]="formCliente" (ngSubmit)="onSubmit()">
    <div class="conatainer-formulario">
      <label for="nome">Nome</label>
      <input type="text" formControlName="nome" id="nome" />
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email" />
      <label for="cpf">CPF</label>
      <input type="text" formControlName="cpf" id="cpf" />
      <label for="telefone">Telefone</label>
      <input type="tel" formControlName="telefone" id="telefone" />
      <label for="senha">Senha</label>
      <input type="password" formControlName="senha" id="senha" />
      <button type="submit" id="btn-cadastrar">Cadastrar</button>
    </div>
  </form>
</div>
